.*  # ignore all hidden files and folders
!/.gitignore  # explicitly do not ignore .gitignore

# Mac OS X hidden files
.DS_Store
.ipynb_checkpoints
*/.ipynb_checkpoints/*
**/*.ipynb_checkpoints/
.ipynb_checkpoints/*.ipynb
